{% extends 'base.html' %}

{% block content %}

<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	<aside class="col-md-3">
		{% include 'includes/sidebar.html' %}
		<br>
		<a class="btn btn-light btn-block" href="{% url 'logout_route' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
	</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Security</strong>
		</header>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form method="POST">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                    <label>Current Password</label>
                                    <input type="password" placeholder="Current Password" name="current_password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" placeholder="New Password" name="new_password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input type="password" placeholder="Confirm New Password" name="confirm_new_password" class="form-control" required>
                            </div>
                            {% include 'includes/messages.html' %}
                            <input type="submit" value="Change Password" class="btn btn-primary">
                        </form>
                    </div>
                </div>

            </div>
		</article> 
	</main>
</div> 
</div>
</section>

{% endblock %}