{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">
    <form method="POST" action="{% url 'placeorder_route' %}">
        {% csrf_token %}
    <div class="row">
        <aside class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Billing Address</h4>

                        <div class="form-row">
                            {% include 'includes/messages.html' %}
                            <div class="col form-group">
                                <label for="">First Name</label>
                                <input type="text" name='first_name' class="form-control" required>
                            </div>
                            <div class="col form-group">
                                <label for="">Last Name</label>
                                <input type="text" name='last_name' class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">Email</label>
                                <input type="email" name='email' class="form-control" required>
                            </div>
                            <div class="col form-group">
                                <label for="">Phone Number</label>
                                <input type="phonenumber" name='phone' class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">Address Line 1</label>
                                <input type="text" name='address_line_1' class="form-control" required>
                            </div>
                            <div class="col form-group">
                                <label for="">Address Line 2</label>
                                <input type="text" name='address_line_2' class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">City</label>
                                <input type="text" name='city' class="form-control" required>
                            </div>
                            <div class="col form-group">
                                <label for="">State</label>
                                <input type="text" name='state' class="form-control" required>
                            </div>
                            <div class="col form-group">
                                <label for="">Country</label>
                                <input type="text" name='country' class="form-control" required>
                            </div>
                        </div>
                    
                </div>
            </div> <div class="card mt-4"> 
                <div class="card-body">
                    <h4 class="card-title mb-4">Select Payment Method</h4>
                    
                    <div class="payment-methods-group">
                        
                        <div class="form-check border rounded p-3 d-flex align-items-center mb-3">
                            <input class="form-check-input ml-1 mt-0" type="radio" name="payment_method" id="paypal" value="paypal" checked required>
                            <label class="form-check-label w-100 d-flex justify-content-between align-items-center ml-4" for="paypal">
                                <span class="font-weight-bold">Paypal</span>
                                <img alt="Paypal Logo" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDhZ-sUbsjNHb2MZvWkStV4BEZ44-tt0jT26O9ddM2PnPVi_yFlIjF-NNvqkYpQH23Eu8_SpbljuzBCQRSj0AxvcV6i6tbQ9XCXtLyrqV6u4CdVnUHijJH-_kVo9XCVvcrjn3OEbnXcV0o4Om2xBPNdD9S3DVXjx8chNdFWbw_lYPGTOlFLCHfWvimABDNd5jmT8YHTTGKXXZMgS2gK2PufsBfeiXzYfxYmqn17qrxdxJttaWebiSiLHrjzB9iLSLhMvePZjDsWf3c" style="height: 24px;">
                            </label>
                        </div>

                        <div class="form-check border rounded p-3 d-flex align-items-center mb-3">
                            <input class="form-check-input ml-1 mt-0" type="radio" name="payment_method" id="stripe" value="stripe" required>
                            <label class="form-check-label w-100 d-flex justify-content-between align-items-center ml-4" for="stripe">
                                <span class="font-weight-bold">Stripe</span>
                                <img alt="Stripe Logo" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCSrEDT3CoRGWmLuUJQYPrDAr7SVnONmhuuoLiIPn7GRk2FhXob7EQj2obNUAFT4tZzo48HKJ2v_xFqkYzTkTSMnZxiDELCQD7aU1E28_FWShYlZpVmI2hJ241x3OaO8XBz_8rLc8n5JoA_Pt5hVyQO34Qk39sljoAlkpPJFV4Iyl4uiozU0i34niyvAiyha1NaAB3QPmicGqetwrIgQ_gFjW4w1KG4vZgDAK5l45IC2583TxAn-b1dOTbEsNViLh7ndkOL3NiScv8" style="height: 24px;">
                            </label>
                        </div>

                        <div class="form-check border rounded p-3 d-flex align-items-center mb-3">
                            <input class="form-check-input ml-1 mt-0" type="radio" name="payment_method" id="razorpay" value="razorpay" required>
                            <label class="form-check-label w-100 d-flex justify-content-between align-items-center ml-4" for="razorpay">
                                <span class="font-weight-bold">Razorpay</span>
                                <img alt="Razorpay Logo" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDn9aMKGDGgQ7cHeEflJA0Bsf8V0WZ2K1n3iGBFivnmpILRxjbQOIqOKB3eyY2c1Wc6oM-Jhl3MGMYso_C4wxsXJQs1mu4fgIGEEf4EAswCfbVJLMi6AT819yRl8tEkGh7zPmMW5iM7ei9-Yp9XK77KeCI0aTQ57HfB5a63w7ITV97w6AxiSboiy8m6FZrhwYem9e6TJmEPuWquicHC6KhIkwfxm47knbwz15oaoe7-ZNzozl6sjRr5S-eIDFxfTjpBTtwAFv3qJNA" style="height: 24px;">
                            </label>
                        </div>
                    </div>
                    </div>
            </div> </aside> <aside class="col-lg-5">
    
    <div class="card">
        <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
                <tr class="small text-uppercase">
                    <th scope="col">Product</th>
                    <th scope="col" width="120">Quantity</th>
                    <th scope="col" width="120">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>
                        <figure class="itemside align-items-center">
                            <div class="aside"><img src="{{item.product.image.url}}" class="img-sm"></div>
                            <figcaption class="info">
                                <a href="{% url 'product_detail' item.product.category.slug item.product.slug %}" class="title text-dark">{{item.product.product_name}}</a>
                                {% if item.variation.all %}
                                <p class="text-muted small">
                                    {% for var in item.variation.all %}
                                    {{var.category | capfirst }} : {{var.category_value | capfirst}} <br>
                                    {% endfor %}
                                    {% endif %}
                                </p>
                            </figcaption>
                        </figure>
                    </td>
                    <td> 
                        <div class="col text-center"> 
                            <div class="input-group input-spinner">
                                <p>{{item.quantity}}</p>
                            </div> 
                        </div> 
                    </td>
                    <td> 
                        <div class="price-wrap"> 
                            <var class="price">${{item.subtotal}}</var> 
                            <small class="text-muted"> ${{item.product.price}} each </small>
                        </div> 
                    </td>
                </tr>
        {% endfor %}
        </tbody>
        </table>
        <div class="card-body">
            <button type="submit" class="btn btn-primary btn-block"> Place Order </button>
            <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
        </div>
    </div> 
    
</aside> </form>
</div> </section>
{% endblock %}